.container {
  display: flex;
  align-items: center;
  width: 600px;
  height: 50px;
  margin: 10px auto;
  line-height: 50px;
}

.all {
  margin: 0 11px;
}

.delete {
  display: none;
  width: 120px;
  height: 30px;
  border: none;
  border-radius: 8px;
  margin-left: auto;
  margin-right: 20px;
  font-size: 16px;
  line-height: 25px;
  color: #fff;
  background-color: #bd352f;
  cursor: pointer;
}