* {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 900px;
  height: 150px;
  border-radius: 8px;
  margin: 15px auto;
  background-color: #ededed;
}

.title {
  margin: 6% 0 1% 10%;
}

.content {
  margin-left: 10%;
}

.search {
  width: 140px;
  text-overflow: ellipsis;
  overflow: hidden;
  outline: none;
  transition: all .5s;
}

.search:focus {
  width: 250px;
}